.angle {
  position: relative;
  &:after {
    $size: 1.4375rem;
    content: "";
    position: absolute;
    width: $size;
    height: $size;
    left: 50%;
    bottom: 0;
    transform-origin: 50% 50%;
    transform: rotateZ(45deg) translate(-50%, 50%);
    transform-origin: 0 100%;
    background: var(--c-accent);
  }
}

.angle_top {
  &:after {
    top: 0;
    transform: rotateZ(45deg) translate(-50%, -50%);
    transform-origin: 0 0;
  }
}
