.blog {
  padding: 100px 0;
  text-align: center;
  background: var(--c-light-accent);
  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--c-dark-coal);
    font-weight: 300;
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 80px;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--c-dark-lighter);
    font-weight: 300;
  }
  &__posts {
    list-style: none;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  &__post {
  }
  &__post-img-wrap {
    position: relative;
    height: 270px;
  }
  &__post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__post-info {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
  }
  &__info-item {
    padding: 0 6px;
    background: var(--c-accent);
    border-radius: 11px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    color: var(--c-lightest);
    &:last-child {
      margin-right: 0;
    }
  }
  &__info-item_red {
    background: var(--c-accent-red);
  }
  &__info-item_green {
    background: var(--c-accent-green);
  }
  &__stat-icon,
  &__share-icon {
    margin-right: 5px;
    font-size: 10px;
  }
  &__stat-value,
  &__share-text {
    font-size: 11px;
    letter-spacing: 0px;
    font-weight: 400;
  }
  &__share-text {
    text-transform: uppercase;
  }
  &__share {
    display: flex;
    align-items: center;
    color: var(--c-lightest);
    text-decoration: none;
  }
  &__post-angle {
    &:after {
      background: var(--c-lightest);
      left: 45px;
    }
  }
  &__post-body {
    padding: 35px 30px;
    background: var(--c-lightest);
    text-align: left;
  }
  &__post-title {
    margin: 0;
    margin-bottom: 5px;
    color: var(--c-darkest);
    font-weight: 400;
  }
  &__post-metadata {
    display: flex;
    margin-bottom: 20px;
    font-size: 10px;
    letter-spacing: 1px;
    color: var(--c-dark-neutral);
    font-weight: 300;
  }
  &__post-author {
    text-transform: uppercase;
    &:before {
      content: "by";
      margin-right: 4px;
    }
    &:after {
      content: "|";
      margin: 0 4px;
    }
  }
  &__post-date {
    text-transform: uppercase;
  }
  &__post-text {
    font-size: 14px;
    line-height: 20px;
    color: var(--c-dark-neutral);
    font-weight: 300;
  }
  &__btn {
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--c-accent);
    border: 1px solid var(--c-accent);
    border-radius: 18px;
    text-transform: capitalize;
    text-decoration: none;
    display: inline-block;
  }
}
