.header {
  .container {
    display: flex;
    align-items: center;
  }
  padding: 1.5625rem 0;
  background: rgba(var(--c-lightest), .9);
  &__menu {
    margin-left: auto;
    margin-right: 6.25rem;
  }
  &__controls {
    display: flex;
  }
  &__cart, &__search-icon {
    margin-right: 0.75rem;
    width: 2.4375rem;
    height: 2.4375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--c-dark-coal);
    color: var(--c-lightest);
    cursor: pointer;
  } 
  &__search-icon {
    background: var(--c-accent);
    margin-right: 0;
  }
}