.hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: 
    linear-gradient( 0deg, rgba(var(--c-accent-rgb), .2), rgba(var(--c-accent-rgb), .2) 100% ),
    url(../img/green-fields.jpg) center / cover no-repeat;
  &__body {
    height: 70%;
    display: flex;
    align-items: center;
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    font-size: 3.4375rem;
    line-height: 5rem;
    color: var(--c-lightest);
    font-weight: 500;
    font-family: var(--f-secondary);
    text-align: center;
    margin-bottom: 4.6875rem;
    text-shadow: 0.839px 0.545px 0.5px rgba(var(--c-black-rgb), .2);
  }
  &__btn {
    padding: 1.25rem 1.875rem;
    margin-right: 1.6875rem;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.0625rem;
    font-weight: 400;
    background: var(--c-lightest);
    color: var(--c-accent);
    transition: .1s;
    &:hover {
      box-shadow: 0.2096875rem 0.1361875rem 0.125rem var(--c-accent-darker);
      background: var(--c-accent);
      color: var(--c-lightest);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}