.interview {
  padding: 9.0625rem 0;
  background: linear-gradient(
      0deg,
      rgba(var(--c-darkest-rgb), 0.7) 0%,
      rgba(var(--c-darkest-rgb), 0.7) 100%
    ),
    url("../img/street.jpg") center / cover no-repeat;
  &__slider {
    justify-content: center;
  }
  &__slider-container {
    max-width: 720px;
    padding: 44px 30px;
    background: rgba(var(--c-black-rgb), 0.5);
    margin: 0;
  }
  &__card {
    text-align: center;
  }
  &__card-title {
    margin: 0;
    margin-bottom: 25px;
    color: var(--c-lightest);
    font-size: 22px;
    letter-spacing: 9px;
    font-weight: 400;
  }
  &__card-text {
    max-width: 557px;
    margin: 0 auto;
    margin-bottom: 38px;
    line-height: 24px;
    color: var(--c-light-grayer);
    font-weight: 400;
  }
  &__card-author {
    font-size: 13px;
    letter-spacing: 5px;
    color: var(--c-accent);
    font-weight: 400;
    text-transform: uppercase;
  }
  &__control-left {
    margin-right: 35px;
  }
  &__control-right {
    margin-left: 35px;
  }
  &__control-disabled {
    color: var(--c-dark-neutral) !important;
  }
}
