.menu {
  &__link {
    margin-right: 1.5625rem;
    text-transform: uppercase;
    color: var(--c-dark-coal);
    text-decoration: none;
    transition: .1s;
    &:hover {
      color: var(--c-accent);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}