.pricing {
  &__header {
    padding: 45px 0;
    color: var(--c-lightest);
    background: var(--c-accent);
    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__header-title {
    margin: 0;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  &__header-btn {
    padding: 12px 25px;
    border: 1px solid var(--c-lightest);
    text-transform: uppercase;
    letter-spacing: 0px;
    font-weight: 400;
    text-decoration: none;
    color: var(--c-lightest);
    transition: 0.1s;
    &:hover {
      background: var(--c-lightest);
      color: var(--c-accent);
    }
  }
  &__body {
    text-align: center;
    padding: 105px 0;
    background: var(--c-light-gray);
    .container {
      max-width: 980px;
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-size: 30px;
    letter-spacing: 2px;
    color: var(--c-dark-coal);
    font-weight: 300;
  }
  &__subtitle {
    margin: 0;
    margin-bottom: 110px;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--c-dark-lighter);
    font-weight: 300;
    font-family: var(--f-secondary);
  }
  &__cards {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  &__card {
    border-radius: 7px;
    overflow: hidden;
    text-align: center;
  }
  &__card_pop {
    margin-top: -38px;
  }
  &__card-pop {
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--c-lightest);
    border: 1px solid var(--c-accent);
    border-radius: 7px 7px 0 0;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--c-accent);
    font-weight: 300;
  }
  &__card-title {
    margin: 0;
    padding: 20px 0;
    background: var(--c-accent-dark);
    border-bottom: 1px solid var(--c-accent-darker);
    color: var(--c-lightest);
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 300;
  }
  &__card_red &__card-title {
    background: var(--c-accent-red-dark);
    border-bottom: 1px solid var(--c-accent-red-darker);
  }
  &__card_green &__card-title {
    background: var(--c-accent-green-dark);
    border-bottom: 1px solid var(--c-accent-green-darker);
  }
  &__card-price {
    margin: 0;
    color: var(--c-lightest);
    padding: 20px 0 30px;
    background: var(--c-accent);
    font-size: 12px;
    font-weight: 250;
    font-family: var(--f-secondary);
  }
  &__card_red &__card-price {
    background: var(--c-accent-red);
  }
  &__card_green &__card-price {
    background: var(--c-accent-green);
  }
  &__card-price-number {
    font-size: 50px;
    letter-spacing: 3px;
    &:before {
      content: "$";
      font-family: var(--f-secondary);
      position: relative;
      bottom: 30px;
      font-size: 12px;
    }
  }
  &__card-body {
    padding: 20px 20px 35px;
    border: 1px solid rgba(var(--c-black-rgb), 0.2);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background: var(--c-lightest);
  }
  &__card_pop &__card-body {
    border: 1px solid var(--c-accent);
  }
  &__card-features {
    margin-bottom: 60px;
  }
  &__card-features-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 17px;
    letter-spacing: 1px;
    color: var(--c-dark-coal);
    font-weight: 400;
  }
  &__card-features-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__card-features-list-item {
    padding: 3px 0 15px;
    font-size: 12px;
    letter-spacing: 1px;
    color: var(--c-dark-neutral);
    font-weight: 300;
    &:nth-child(even) {
      border-radius: 2px;
      box-shadow: 0.839px 0.545px 0.5px rgba(var(--c-black-rgb), 0.15);
      background-color: var(--c-light-accent);
    }
  }
  &__card-btn {
    width: 100%;
    border-radius: 2px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
  }
}
