.section-slider {
  &__pagination {
    margin-bottom: 50px;
  }
  &__pagination-bullet {
    margin-right: 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid var(--c-lightest);
    border-radius: 50%;
    &:last-child {
      margin-right: 0;
    }
  }
  &__pagination-bullet_active {
    background: var(--c-lightest);
  }
}
