.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    margin-right: 13px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    text-decoration: none;
    color: var(--c-dark-coal);
    &:hover {
      color: var(--c-accent);
    }
  }
  &__icon {
    font-size: 18px;
  }
}
