.blog-info {
  background: linear-gradient(
      0deg,
      rgba(var(--c-black-rgb), 0.5) 0%,
      rgba(var(--c-black-rgb), 0.5) 100%
    ),
    url("../img/mountains.jpg") center / cover no-repeat;
  &__slider {
    padding: 170px 0;
  }
  &__slide {
    color: var(--c-lightest);
  }
  &__slide-content {
    max-width: 915px;
    margin: 0 auto;
    text-align: center;
  }
  &__icon {
    font-size: 50px;
    margin-bottom: 45px;
  }
  &__slide-text {
    font-size: 25px;
    line-height: 36px;
    font-weight: 250;
    font-family: var(--f-secondary);
  }
  &__slide-text-bold {
    font-weight: 400;
    text-decoration: none;
    color: var(--c-lightest);
  }
  &__pagination {
    position: absolute;
    bottom: 0;
    left: 50%;
    .section-slider__pagination-bullet {
      cursor: pointer;
    }
  }
}
