.menu {
  &__link {
    margin-right: 1.5625rem;
    text-transform: uppercase;
    color: var(--c-dark-coal);
    text-decoration: none;
    transition: 0.1s;
    @include media(890px) {
      margin-right: 0.5rem;
    }
    &:hover {
      color: var(--c-accent);
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
