.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(43.75rem) {
    flex-wrap: wrap;
  }
  &__container {
    @include media(43.75rem) {
      order: -1;
      margin-bottom: 1.5rem;
    }
  }
  &__control {
    background: none;
    border: none;
    font-size: 1.625rem;
    color: var(--c-lightest);
    cursor: pointer;
  }
}
