:root {
  // colors 
  
  $c-accent: #2888e2;
  $c-accent-dark: #1565af;
  $c-accent-darker: #184c7dbf;
  $c-accent-red: #f5617d;
  $c-accent-red-dark: #ea5974;
  $c-accent-red-darker: #d0425d;
  $c-accent-green: #74c8b8;
  $c-accent-green-darker: #5cb1a1;
  $c-accent-green-darkest: #509a8c;
  $c-black: #000000;
  $c-darkest: #202020;
  $c-darker: #2e2e2e;
  $c-dark-coal: #333333;
  $c-dark-neutral: #666666;
  $c-dark-light: #7f7f7f;
  $c-dark-lighter: #959595;
  $c-light-grayer: #eeeeee;
  $c-light-gray: #efefef;
  $c-light-accent: #f1f1f2;
  $c-lightest: #ffffff;

  @include colorVar('--c-accent', $c-accent);
  @include colorVar('--c-accent-dark', $c-accent-dark);
  @include colorVar('--c-accent-darker', $c-accent-darker);
  @include colorVar('--c-accent-red', $c-accent-red);
  @include colorVar('--c-accent-red-dark', $c-accent-red-dark);
  @include colorVar('--c-accent-red-darker', $c-accent-red-darker);
  @include colorVar('--c-accent-green', $c-accent-green);
  @include colorVar('--c-accent-green-darker', $c-accent-green-darker);
  @include colorVar('--c-accent-green-darkest', $c-accent-green-darkest);
  @include colorVar('--c-black', $c-black);
  @include colorVar('--c-darkest', $c-darkest);
  @include colorVar('--c-darker', $c-darker);
  @include colorVar('--c-dark-coal', $c-dark-coal);
  @include colorVar('--c-dark-neutral', $c-dark-neutral);
  @include colorVar('--c-dark-light', $c-dark-light);
  @include colorVar('--c-dark-lighter', $c-dark-lighter);
  @include colorVar('--c-light-grayer', $c-light-grayer);
  @include colorVar('--c-light-gray', $c-light-gray);
  @include colorVar('--c-light-accent', $c-light-accent);
  @include colorVar('--c-lightest', $c-lightest);

  // fonts

  --f-main: OpenSans;
  --f-secondary: Roboto
}